# Node
node_modules/
dist/
.npm/
npm-debug.log*
yarn-error.log
.pnp/
.pnp.js

# Environment
.env
.env.local
.env.*.local

# Build
frontend/dist/
frontend/node_modules/

# IDE
.idea/
*.iml
.vscode/
.DS_Store
Thumbs.db

# Coverage
coverage/
frontend/coverage/

# Backend Spring Boot
**/*/target/
**/*/bin/
.mvn/wrapper/maven-wrapper.jar
**/.project
**/.classpath
**/.settings/
